@media only screen and (min-width: 0px) and (max-width: 950px) {
  .M_NavDesktop {
    display: none;
  }
  .A_BurgerButton {
    display: flex;
  }
  .A_SearchIcon {
    width: 19px;
    height: 19px;
  }
  .W_IconNavBarBox {
    gap: 20px;
  }
  /* открывающееся меню на мобилке */
  .M_NavMobile {
    display: none;
    flex-direction: column;
    align-items: start;
    position: fixed;
    height: 100vh;
    width: 50%;
    right: 0;
    top: 0;
    padding: 50px 80px;
    box-sizing: border-box;
    gap: 15px;
    a {
      font-family: 'PP Neue Montreal', sans-serif;
      font-size: 16px;
      text-decoration: none;
      position: relative;
      padding: 5px 0;
      transition: color 0.2s ease;
    }
  }
  .A_CloseIcon {
    width: 23px;
    height: 23px;
    margin-bottom: 50px;
  }
  /* подвал */
  .O_Footer {
    flex-direction: column;
    gap: 65px;
  }
  .W_CreatersList {
    padding-left: 0;
  }
  .O_HeadlineTop {
    :nth-child(3) {
      padding: 0;
    }
    :nth-child(2) {
      padding-top: 5px;
    }
  }
}
@media only screen and (min-width: 996px) and (max-width: 9999px) {
  .O_HeadlineTop {
    :nth-child(3) {
      padding-top: 5px;
    }
  }
  .O_HeadlineFull {
    width: 841px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .A_LogoDesktop,
  .M_NavDesktop {
    display: none;
  }
  .A_BurgerButton,
  .A_LogoMobile {
    display: flex;
  }
  .O_NavBar,
  .M_NavMobile {
    padding: 50px 20px;
    gap: 10px;
  }
  .A_CloseIcon {
    margin-bottom: 30px;
    width: 16px;
    height: 16px;
  }
  .O_Footer {
    padding: 50px 20px;
  }
  .S_IndexFirstScreen {
    .O_Slides {
      .O_Slide {
        padding: 50px 20px;
      }
    }
  }
  .A_LogoFooter img {
    width: 155px;
    height: 41px;
  }
  /* подвал */

  .W_RightFooter {
    flex-direction: column;
  }
  .W_NetworksFooterBox {
    flex-direction: row;
    justify-content: space-between;
  }
  .O_HeadlineTop {
    :nth-child(3) {
      padding: 0;
    }
    :nth-child(2) {
      padding-top: 5px;
    }
  }
}

.A_AccentLine {
  @media (max-width: 768px) {
    width: 26px;
    height: 2px;
    margin-top: 4px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .O_HeadlineFull .O_HeadlineTop {
    width: 355px;
  }
}
@media only screen and (min-width: 0) and (max-width: 360px) {
  .O_HeadlineFull .A_Word {
    font-size: 34px;
  }
}
.O_ThirdSlide {
  @media only screen and (min-width: 937px) and (max-width: 9999px) {
    .O_HeadlineTop :nth-child(3) {
      padding-top: 5px;
    }
  }
}
.A_Marker {
  @media (max-width: 768px) {
  }
  a {
    img {
      @media (max-width: 768px) {
        width: 175px;
        height: 51px;
      }
    }
  }
}
.O_HeadlineFull {
  & .A_Word {
    @media (max-width: 768px) {
      font-size: 38px;
    }
  }
}
.O_FirstSlide {
  @media only screen and (min-width: 0px) and (max-width: 1063px) {
    .O_FirstSlide .O_HeadlineFull {
      width: 841px;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 1087px) {
  .O_FirstSlide .O_HeadlineFull {
    width: auto;
  }
  @media (max-width: 768px) {
    .O_FirstSlide .A_Word--break {
      flex-basis: auto;
      width: auto;
    }
  }
}
.O_SecondSlide {
  @media only screen and (min-width: 996px) and (max-width: 9999px) {
    .O_HeadlineFull {
      width: 860px;
    }
  }
}
