.M_ArticleContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  h4,
  h6 {
    color: var(--white);
  }
  h6 {
    text-transform: lowercase;
  }
}
@media (min-width: 0px) and (max-width: 901px) {
  .W_ButtonH6Box,
  .W_ButtonH6Box2 {
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
  }
  .A_RedButton {
    width: 38px;
    height: 38px;
    .arrow-icon {
      width: 12px;
      height: 12px;
    }
  }
}
.M_ArticleContent {
  @media (max-width: 900px) {
    justify-content: center;
    h6 {
      padding: 6vw 0px;
    }
  }
}

.M_ArticleContent {
  @media (max-width: 900px) {
    justify-content: center;
  }
}
