.S_ArticlesCard {
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 1.3vw;
  padding: 80px;

  @media (max-width: 900px) {
    gap: 5.3vw;
    padding: 0 20px;
    padding-bottom: 80px;
  }
  .S_ArticlesCard {
    .O_BigArticle {
      .W_TagsBox {
        @media (max-width: 350px) {
          top: 40px;
        }
      }
    }
  }
  .O_BigArticle {
    .W_TagsBox {
      top: 30px;
      left: 25px;
      @media (max-width: 900px) {
        top: 72px;
        left: 25px;
      }
      @media (max-width: 470px) {
        left: 20px;
        top: 40px;
      }
      .A_TagsWord,
      .A_TagsRed {
        @media (max-width: 900px) {
          padding: 6px 14px 5px 14px;
          font-size: 12px;
        }
        @media (max-width: 470px) {
          font-size: clamp(9px, 1.4vw, 16px);
          padding: 6px 8px 5px 9px;
        }
      }
    }
  }
}
.O_SmallArticle {
  .W_TagsBox {
    top: 30px;
    left: 25px;
    @media (max-width: 900px) {
      top: 72px;
      left: 25px;
    }
    @media (max-width: 470px) {
      left: 20px;
      top: 40px;
    }
    .A_TagsWord,
    .A_TagsRed {
      @media (max-width: 900px) {
        padding: 6px 14px 5px 14px;
        font-size: 12px;
        @media (max-width: 470px) {
          font-size: clamp(9px, 1.4vw, 16px);
          padding: 6px 14px 5px 14px;
        }
      }
    }
  }
}

.S_ArticlesCard {
  .M_ScreenHeader {
    .W_ButtonH6Box {
      .M_ButtonWithText h5 {
        color: var(--black);
        .A_RedButton {
          .arrow-icon {
            stroke: var(--black);
          }
          &:hover {
            background-color: var(--black);
            .arrow-icon {
              stroke: var(--white);
            }
          }
        }
      }
    }
  }
}
