.A_NavigationLogo {
  position: fixed;
  top: 20px;
  left: 80px;
  background-color: var(--white);
  border: 1.5px solid var(--black);
  border-radius: 2.389vw;
  padding: 0.7vw 1.389vw;
  text-decoration: none;
  background-image: url(../images/logomeniblack.svg);
  color: var(--black);
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1.55vw;
  width: 10vw;
  z-index: 1;
  &:hover {
    background-color: var(--black);
    background-image: url(../images/logomeni.svg);
    border: var(--white) 1.5px solid;
  }
}
.A_TestHeader {
  color: #fff;
  font-family: 'PP Neue Montreal';
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 19px;
}
.A_TestTag {
  display: flex;
  height: 19px;
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #fff;
  color: #151515;
  text-align: center;
  font-family: 'PP Neue Montreal';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.A_NameTest {
  color: #fff;
  font-family: 'PP Neue Montreal';
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 101.143%; /* 34.388px */
  text-transform: uppercase;
  width: 275px;
}
.A_ImageTestCard img {
  width: 266px;
  height: 191px;
}
.A_MiniTestTag {
  padding: 3px 18px;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  font-family: 'PP Neue Montreal';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 18px;
}
.A_TimeTest {
  display: flex;
  align-items: flex-end;
  position: relative;
  p {
    color: #fff;
    text-align: center;
    font-family: 'PP Neue Montreal';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
  }
}
.A_tg,
.A_vk,
.A_st {
  border-radius: 100vw;
  background-color: white;
  width: 4.861vw;
  height: 4.861vw;
}

.A_vk {
  background-image: url(../images/vk-black.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  border: var(--white) 0.5px solid;
}
.A_tg {
  background-image: url(../images/tg-black.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  border: var(--white) 0.5px solid;
}
.A_st {
  background-image: url(../images/st-black.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  border: var(--white) 0.5px solid;
}
.A_LogoFoot {
  background-image: url(../images/logovector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 14.167vw;
  height: 4vw;
  margin: 1vw;
  box-sizing: border-box;
}
.M_NameFoot {
  color: var(--white);
  padding: 0.5vw;
  p {
    padding: 0.5vw;
  }
}
