.W_TestHeaderBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.W_TextTestCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.W_LogoAndNameBox {
  display: flex;
  align-items: flex-end;
}
