body.aboutBody {
  background-color: #f7f7f7;

  #tgText,
  #vkText {
    color: black;
  }

  body {
    background-color: #f7f7f7;
  }
  .menu {
    padding-top: 4.6vw;
  }
  .letter-1:hover {
    fill: #c181b3;
    transition: 0.3s;
  }
  .letter-2:hover {
    fill: #cff37e;
    transition: 0.3s;
  }
  .letter-3:hover {
    fill: #ef83b4;
    transition: 0.3s;
  }
  .letter-4:hover {
    fill: #ee6845;
    transition: 0.3s;
  }
  .letter-5:hover {
    fill: #f4d780;
    transition: 0.3s;
  }
  .letter-6:hover {
    fill: #84c5f1;
    transition: 0.3s;
  }
  .line1::after {
    background-color: #ee6845;
    transition: width 0.3s ease;
  }
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  width: 8vw;
  height: 2.7vw;
  background-size: cover;
  cursor: pointer;
}
body.aboutBody {
  #tgText,
  #vkText {
    color: black;
  }
}
.scr1 {
  background-image: url(../images/background-cross.svg);
  background-repeat: no-repeat;
  height: 71.111vw;
  background-size: cover;
}

.bigLogo {
  width: 93vw;
  height: 32.01vw;
}
.boxBigLogo {
  display: flex;
  margin-top: 5vw;
  margin-left: 5.9vw;
  justify-content: flex-start;
  position: relative;
}
.boxBigLogo > p {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: 'Roboto Mono';
  font-weight: 500;
  font-style: normal;
  font-size: 2.5vw;
}
.backMain {
  width: 100%;
  height: 100%;
}

.aboutText {
  font-family: 'Graphik LCG';
  font-weight: 100;
  font-size: 2.222vw;
  padding: 2vw 5.9vw;
  display: flex;
  justify-content: flex-end;
}
.teaMeme {
  position: absolute;
  background-image: url(../images/tea-meme.png);
  width: 14.444vw;
  height: 13.125vw;
  background-size: cover;
  background-repeat: no-repeat;
  top: -6vw;
  right: 33vw;
  transition: opacity 0.3s;
}

.bootsMeme {
  position: absolute;
  background-image: url(../images/boots-meme-1.png);
  width: 7.561vw;
  height: 9.306vw;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 6vw;
  right: 13vw;
  transition: opacity 0.3s;
}
.bitMeme {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12.083vw;
  height: 11.875vw;
  background-image: url(../images/bit-meme.png);
  bottom: -8vw;
  transition: opacity 0.3s;

  left: 7vw;
}
.ladieMeme {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 10.139vw;
  height: 9.514vw;
  background-image: url(../images/ladle.png);
  bottom: -19vw;
  right: 39vw;
  transition: opacity 0.3s;
}
.goatMeme {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 11.802vw;
  height: 15.113vw;
  background-image: url(../images/goat.png);
  bottom: -11vw;
  left: 28vw;
  transition: opacity 0.3s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.teaMeme:hover {
  animation: blink 0.5s ease-in-out infinite alternate;
}
.bootsMeme:hover {
  animation: blink 0.5s ease-in-out infinite alternate;
}
.bitMeme:hover {
  animation: blink 0.5s ease-in-out infinite alternate;
}
.ladieMeme:hover {
  animation: blink 0.5s ease-in-out infinite alternate;
}
.goatMeme:hover {
  animation: blink 0.5s ease-in-out infinite alternate;
}

.scr2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 71.111vw;
  background-color: #ef83b4;
}
.plus > svg {
  width: 6.918vw;
  height: 5.588vw;
}
.boxMuchText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 7vw;
  align-items: flex-end;
  width: 100vw;
  height: 31vw;
}
.boxMuchText > p {
  font-family: 'Roboto Mono';
  font-weight: 500;
  font-style: normal;
  font-size: 4.006vw;
  padding: 1vw;
}
.boxMuchText > div > svg {
  margin: 0 1vw;
  width: 6vw;
  height: 6vw;
}
.bear {
  background-image: url(../images/bear.png);
  width: 7.049vw;
  height: 9.92vw;
  background-size: cover;
  width: 5.049vw;
  height: 6vw;
  margin: 0 1vw;
}
.iroh {
  background-image: url(../images/iroh.png);
  width: 5.426vw;
  height: 6.426vw;
  background-size: cover;
  margin: 0 1vw;
}
#adaptIcons {
  display: none;
}
.nike {
  background-image: url(../images/nakeairlapti.png);
  width: 37.848vw;
  height: 19.375vw;
  background-size: cover;
  margin-top: 3vw;
  margin-left: 3vw;
}
#aboutText2 {
  padding: 3vw 9.9vw 0vw 9.9vw;
  justify-content: space-between;
}
.scr3 {
  padding: 3vw 0 0 0;
}
.scr3 > div > svg {
  width: 91.806vw;
  height: 32.313vw;
}

.scr4 {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  height: 59.028vw;
  align-items: center;
  justify-content: center;
}
.scr4 > div > p {
  font-size: 10.869vw;
  color: white;
  font-family: 'TD Rukopis';
  font-weight: normal;
}
.stroke4img {
  background-image: url(../images/kekface.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 5.903vw;
  height: 5.903vw;
}
.stroke1 {
  display: flex;
  height: 11.861vw;
  align-items: center;
}
.stroke1 > p {
  margin: 0 4vw 2vw 2vw;
}
.stroke1 > svg {
  width: 6.181vw;
  height: 7.014vw;
}
.stroke2 {
  display: flex;
  height: 11.861vw;
  align-items: center;
}
.stroke2 > svg {
  width: 3.75vw;
  height: 7.014vw;
}
.stroke2 > p {
  margin: 2vw 2vw 2vw 6vw;
}
.stroke3 {
  display: flex;
  height: 11.861vw;
  align-items: center;
}
.stroke3 > svg {
  width: 5.903vw;
  height: 5.903vw;
  margin-left: 15vw;
}
.stroke3 > p {
  margin: 2vw 3vw 2vw 2vw;
}
.stroke4 {
  display: flex;
  height: 11.861vw;
  align-items: center;
}
.stroke4 > p {
  margin: 2vw 6.4vw 2vw 3vw;
  color: white;
}
.stroke3 > a {
  color: white;
}
.artText {
  color: white;
  font-family: 'Graphik LCG';
  font-weight: 100;
  font-size: 1.667vw;
}
.stroke3 > p > a {
  color: #ef83b4;
}
.scr5 {
  background-color: #131313;
  height: 62.111vw;
}
#logoWhite {
  background-image: url(../images/logowhite.svg);
}

.scr5 {
  a#tgText,
  a#vkText {
    color: white;
  }
}
.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bird2 {
  background-image: url(../images/name-bird4.png);
  width: 10.278vw;
  height: 10.556vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.scr5 {
  p {
    font-family: 'Graphik LCG';
    font-weight: 100;
    color: white;
    font-size: 2.222vw;
    margin-top: 0.5vw;
    text-align: center;
    margin: 3vw 0 1vw 0px;
  }
  h1 {
    color: white;
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 3.611vw;
    margin-top: 3vw;
  }
  b {
    color: #cff37e;
    font-family: 'Graphik LCG';
    font-weight: 100;
    font-size: 2.222vw;
    margin-top: 0.5vw;
    text-align: center;
  }
}
.cellar {
  background-color: black;
  width: 100%;
  height: 8.333vw;
  margin-top: 10vw;
  display: flex;
}
.cellar {
  background-color: black;
  width: 100%;
  height: 8.333vw;
  margin-top: 10vw;
  display: flex;
  justify-content: space-between;
}
.cellar {
  p {
    font-size: 1.667vw;
  }
}
.people1 {
  background-image: url(../images/polina.svg);
}
.people2 {
  background-image: url(../images/nina.svg);
}
.people3 {
  background-image: url(../images/lida.svg);
}
.people1,
.people2,
.people3 {
  width: 4.028vw;
  height: 4.028vw;
}
.polina,
.lida,
.nina {
  display: flex;
  margin: 0 3vw;
  align-items: center;
}

body.article {
  background-color: white;

  section {
    padding: 4.903vw 5.903vw;
    display: flex;
    flex-direction: column;
  }

  p {
    color: black;
    font-family: 'Graphik LCG';
    font-weight: 100;
    font-size: 2.5vw;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    margin-top: 3vw;
  }
  h4 {
    color: black;
    font-family: 'Graphik LCG';
    font-weight: 100;
    font-size: 2.5vw;
    text-align: left;
  }
  h1 {
    font-size: 9.417vw;
    font-family: 'Roboto Mono';
    font-weight: bold;
  }
}
.forRelate {
  position: relative;
}
.boots2 {
  background-image: url(../images/boots23.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 14vw;
  height: 6vw;
  position: absolute;
  top: 12vw;
  left: 41vw;
}
.pinkBoots {
  background-image: url(../images/bootspink.svg);
  width: 29.875vw;
  height: 25.986vw;
  margin-left: -9vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.second-block {
  display: flex;
  justify-content: space-between;
}
.t1 {
  padding-top: 3vw;
}
.third-block {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
  align-items: flex-end;
}
.vedalBlock {
  background-image: url(../images/vedalimg.png);
  width: 19.444vw;
  height: 19.444vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.fourth-block {
  display: flex;
  flex-direction: column;
}
.five-block {
  display: flex;
  justify-content: space-between;
  height: 24vw;
  margin-bottom: 8vw;
}
h3 {
  text-transform: uppercase;
  font-family: 'Graphik LCG';
  font-weight: 600;
  font-style: normal;
  font-size: 5vw;
  margin: 5vw 0px;
}
#left-text {
  justify-content: flex-start;
}
.jordan {
  background-image: url(../images/jordan.png);
  margin-top: 3vw;
  width: 39.167vw;
  height: 19.4vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.last-block {
  width: 100%;
  height: 27vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boots5 {
  background-image: url(../images/boots33.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 4.722vw;
  height: 10.694vw;
}
#t0 {
  justify-content: flex-start;
}
body.article {
  .cellar > div > p {
    color: white;
  }
  .cellar {
    margin-top: 0;
  }
}
.scr1,
.scr2,
.scr3,
.scr4,
.scr5 {
  overflow: hidden;
}
.t1 {
  width: 53vw;
}

.first-block {
  width: 88vw;
}

.box-t1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.box-2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#tx-1 {
  width: 53vw;
}
#tx-2 {
  width: 53vw;
}
.box-3 {
  display: flex;
  justify-content: flex-end;
}
.artTextstroke {
  display: none;
}

.stroke3 > p > a {
  transition: opacity 0.7s;
}
.stroke3 > p > a:hover {
  animation-play-state: paused;
  opacity: 100%;
}
.stroke3 > p > a {
  animation: blink 0.5s ease-in-out infinite alternate;
  transition: opacity 0.3s;
}
.lolPeople {
  animation: lolPeople 0.5s ease-in-out infinite alternate;
  transition: 0.3s;
}
@keyframes lolPeople {
  0% {
    fill: black;
  }
  25% {
    fill: #ee6845;
  }
  50% {
    fill: #ef83b4;
  }
  75% {
    fill: #84c5f1;
  }
  100% {
    fill: #cff37e;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.blueA {
  animation: blueA 0.5s ease-in-out infinite alternate;
  transition: 0.3s;
}

@keyframes blueA {
  0% {
    fill: black;
  }
  50% {
    fill: #84c5f1;
  }
  100% {
    fill: #131313;
  }
}

.orangeA {
  animation: orangeA 0.5s ease-in-out infinite alternate;
  transition: 0.3s;
}
@keyframes orangeA {
  0% {
    fill: black;
  }
  50% {
    fill: #ee6845;
  }
  100% {
    fill: #131313;
  }
}

.greenA {
  animation: greenA 0.5s ease-in-out infinite alternate;
  transition: 0.3s;
}
@keyframes greenA {
  0% {
    fill: black;
  }
  50% {
    fill: #cff37e;
  }
  100% {
    fill: #131313;
  }
}

.yellowA {
  animation: yellowA 0.5s ease-in-out infinite alternate;
  transition: 0.3s;
}

@keyframes yellowA {
  0% {
    fill: black;
  }
  50% {
    fill: #f4d780;
  }
  100% {
    fill: #131313;
  }
}
