@media only screen and (min-width: 301px) and (max-width: 400px) {
  .mediumCards,
  #paper,
  #toLibrary1,
  #toLibrary2,
  #toLibrary3,
  .card > div {
    width: 91vw;
    padding: 4vw;
    box-sizing: border-box;
  }
  #paper > :nth-child(3) {
    width: 91vw;
  }
}
@media only screen and (min-width: 0px) and (max-width: 300px) {
  * {
    display: none;
  }
  #toLibrary1 {
    margin: 0 0 0 6vw;
  }
  #toLibrary1,
  #toLibrary2,
  #toLibrary3 {
    padding: 4vw;
  }
}
@media only screen and (min-width: 301px) and (max-width: 389px) {
  h4 {
    font-size: 3rem;
  }
  h1 {
    font-size: 5rem;
  }
  #knows > #paper > .smallBanner > p {
    padding: 4vw 0 0 24vw;
  }
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
  html {
    font-size: 16px;
  }
  p {
    font-size: 1rem;
    font-family: 'PPNeueMontreal', sans-serif;
    font-weight: 500; /* Medium вес */
    font-size: 1rem;
    font-size: clamp(0.9rem, -0.9078rem + 7.767vw, 2rem);
  }
  h1 {
    font-size: 6rem;
    font-family: 'TD Rukopis', sans-serif; /* Используем TD Rukopis */
  }
  h2 {
    font-size: 2.5em;
    font-family: 'PPNeueMontreal', sans-serif;
    font-weight: 500; /* Medium вес */
    font-size: clamp(1.875rem, 0.2446rem + 8.6957vw, 3.5rem);
    padding-left: 3.3rem;
  }
  h3 {
    font-size: 2rem;
    font-family: 'PPNeueMontreal', sans-serif;
    font-weight: 500; /* Medium вес */
    font-size: clamp(1.4375rem, -0.1984rem + 8.6957vw, 3.0625rem);
  }
  h4 {
    font-size: 3rem;
    font-family: 'TD Rukopis', sans-serif; /* Используем TD Rukopis */
  }
  h5 {
    font-size: 2rem;
    font-family: 'PPNeueMontreal', sans-serif;
    font-weight: 500; /* Medium вес */
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.5rem;
    font-family: 'TD Rukopis', sans-serif; /* Используем TD Rukopis */
  }

  .explanation-ex {
    color: var(--black);
    font-size: 15px;
    font-family: 'PPNeueMontreal', sans-serif;
    font-weight: 500; /* medium вес */
    padding: 0 0 3vw 0;
    font-size: clamp(0.9375rem, 0.1223rem + 4.3478vw, 1.75rem);
  }
  .example-ex {
    color: var(--black);
    font-size: 12px;
    font-family: 'PPNeueMontreal', sans-serif;
    font-weight: 500; /* medium вес */
    padding: 0 0 1vw 0;
    font-size: clamp(0.75rem, -0.0652rem + 4.3478vw, 1.5625rem);
  }
  .quote-ex {
    color: var(--black);
    font-size: 11px;
    font-family: 'PPNeueMontreal', sans-serif;
    font-style: italic;
    font-size: clamp(0.6875rem, -0.1277rem + 4.3478vw, 1.5rem);
  }

  .tag > p {
    font-size: clamp(0.625rem, -0.1902rem + 4.3478vw, 1.4375rem);
    padding: 0.486vw 1.042vw;
  }
  .library-cards-box > header > :nth-child(1) {
    padding-left: 3.3rem;
  }
  .library-cards-box > header > :nth-child(2) {
    padding-left: 0rem;
  }

  /* первый экран */
  .library-cards {
    gap: 1.3vw;
    flex-direction: column;
  }
  #paper {
    order: -1;
  }
  #smallCardBox {
    flex-direction: column;
    gap: 1.3vw;
  }
  .card {
    display: flex;
    gap: 1.3vw;
    flex-direction: column;
  }
  #none {
    display: none;
  }
  #bigCardBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .card > div {
    width: 91vw;
    height: 76vw;
    padding: 4vw;
  }

  #bigCard {
    width: 91vw;
    height: 126.173vw;
    padding: 4vw;
  }
  #smallCardBox,
  #bigCardBox,
  .card,
  .library-cards {
    gap: 40px;
  }
  .buttonСircle {
    width: 15vw;
    height: 15vw;
  }

  .smallBottonCircle {
    width: 13vw;
    height: 13vw;
    margin: 0;
  }
  #paper {
    width: 91vw;
    height: 64vw;
    padding: 5vw;
  }
  #paper > :nth-child(3) {
    display: block;
    width: 93vw;
    height: 64vw;
  }
  #bigPaper {
    display: none;
  }

  .smallText {
    margin: 0 0 0 16vw;
  }
  #bigCard > h4 {
    color: var(--black);
    padding-top: 58vw;
  }
  .strokeCont {
    stroke-width: 0.5px;
  }
  .smallBottonCircle > svg {
    width: 7vw;
    height: 7vw;
  }
  .starMini {
    width: 5.1vw;
    height: 5.1vw;
    left: -6.5vw;
  }

  #toLibrary > svg {
    width: 7vw;
    height: 7vw;
  }
  #bigCardBox > :nth-child(1) {
    padding: 2.545vw;
    border-radius: 5.089vw;
  }
  .first-screen {
    display: flex;
    gap: 3.3vw;
    flex-direction: column;
  }
  .mediumCards {
    width: 93vw;
    height: 76vw;
  }
  .twoCards {
    display: flex;
    flex-direction: column;
    gap: 3.3vw;
  }
  #toLibrary1 {
    margin: 0 0 0 0;
  }
  .first-screen > :nth-child(2) > div {
    width: 91vw;
    height: 76vw;
  }
  .first-screen > :nth-child(1) > :nth-child(2) > p {
    margin: 0 0px 3.3vw 26vw;
  }
  .first-screen > :nth-child(1) > :nth-child(1) {
    padding: 13vw 0 0;
  }
  .mediumCards {
    border-radius: 31px;
  }
  .mediumCards,
  #paper,
  #toLibrary1,
  #toLibrary2,
  #toLibrary3,
  .card > div {
    padding: 4vw;
    box-sizing: border-box;
  }
  #toLibrary1 > .explanation-ex,
  #toLibrary2 > .explanation-ex,
  #toLibrary3 > .explanation-ex {
    padding: 0 0vw 1vw 6vw;
  }
  .category-box > h2 {
    padding-bottom: 40px;
  }
  .box {
    gap: 3vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box > p {
    padding: 1.7vw 6vw 1.6vw 6vw;
    border-radius: 5.389vw;
  }
  .articlesBox > :nth-child(3) {
    flex-direction: column;
  }
  .bigBanner > h6 {
    display: block;
  }
  .bigBanner > h4 {
    display: none;
  }
  .bigBanner > div > h3 {
    display: none;
  }
  .bigBanner > div > h5 {
    display: block;
    padding: 8vw 0 3vw 0;
  }
  .articlesBox > :nth-child(2) {
    background-image: url(../images/mobilebigart.webp);
  }
  .bigBanner {
    height: 163.868vw;
    padding: 4vw;
  }
  .bigBanner > div > p {
    padding: 4vw 0 91vw 24vw;
  }
  .smallBanner {
    width: 100%;
    height: 67vw;
    padding: 4vw;
  }
  .smallBanner > h5 {
    padding: 8vw 0 3vw 0;
  }
  .fourSmallCard {
    flex-direction: column;
    gap: 3.3vw;
  }
  #bigTest {
    background-image: url(../images/mobilebear.webp);
    background-size: cover;
  }
  #smallPaper {
    display: none;
  }
  .bigBanner > p {
    border-radius: 3.389vw;
    width: 43vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bigBanner > #paper {
    order: 0;
    width: 100%;
    padding: 9vw;
  }
  .bigBanner > h3 {
    padding: 0;
  }
  #knows {
    padding-bottom: 80vw;
    padding-left: 24vw;
  }
  #knows {
    .buttonСircle {
      top: 58vw;
      right: 7vw;
    }
  }
  .allCardTest {
    height: 94.4vw;
    width: 100%;
    padding: 4vw;
    box-sizing: border-box;
  }
  .allCardTest > p {
    right: 4vw;
    top: 4vw;
  }
  .articlesBox,
  .articlesBox > :nth-child(3),
  .testsBox,
  .fourSmallCard {
    gap: 40px;
  }
  .bigLogo2 {
    top: 63vw;
  }
  .form > :nth-child(3) {
    padding: 7vw 0 14vw 0;
  }
  .form {
    padding-top: 20vw;
    padding-bottom: 34vw;
  }
  #my-form {
    width: 88.764vw;
  }
  .form > :nth-child(1) {
    position: relative;
    width: 71vw;
  }
  .styled-form input {
    flex: 1;
    padding: 19px 15px;
    font-size: unset;
  }
  .styled-form button {
    width: 15.875vw;
    height: 15.875vw;
  }
  .styled-form button svg {
    stroke: white;
    width: 8.875vw;
    height: 8.875vw;
    stroke-width: 1px;
  }
  footer {
    height: 34.653vw;
    padding: 16px 20px;
  }
  .tg,
  .vk,
  .st {
    width: 9.861vw;
    height: 9.861vw;
  }
  .logoFot {
    width: 16.167vw;
    height: 5vw;
  }
  .forFlex-1 {
    display: flex;
    width: 100%;
    width: 85vw;
  }
  .forFlex-2 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  .articlesBox > :nth-child(2) {
    background-size: contain;
    background-position: bottom;
  }
  .bigBanner > div > p {
    padding: 4vw 0 79vw 24vw;
  }
}
