#face:hover {
  background-color: var(--blue);
}
#faceBotton:hover {
  background-color: white;
}
#faceBotton:hover > svg > .arrowHover {
  stroke: var(--black);
}

#toxic:hover {
  background-color: var(--red);
}
#toxicBotton:hover {
  background-color: white;
}
#toxicBotton:hover > svg > .arrowHover {
  stroke: var(--black);
}
#nkei:hover {
  background-color: var(--cyan);
}
#nkeiBotton:hover {
  background-color: white;
}
#nkeiBotton:hover > svg > .arrowHover {
  stroke: var(--black);
}

#nkei:hover {
  background-color: var(--cyan);
}
#nkeiBotton:hover {
  background-color: white;
}
#nkeiBotton:hover > svg > .arrowHover {
  stroke: var(--black);
}
#paper {
  .buttonСircle:hover {
    background-color: var(--black);
    border: var(--white) 1.5px solid;
  }
  .buttonСircle:hover > svg > .arrowHover {
    stroke: var(--white);
  }
}
#toLibraryBottonW:hover {
  background-color: var(--white);
}
#toLibraryBottonW:hover > svg > path {
  stroke: var(--black);
}

#toLibrary1 > #toLibraryBotton:hover {
  background-color: var(--black);
}
#toLibrary1 > #toLibraryBotton:hover > svg > path {
  stroke: var(--white);
}
#toLibrary1:hover {
  background-color: #a9d486;
  background-image: none;
}
#toLibrary2:hover {
  background-color: #e8874a;
  background-image: none;
}
#toLibrary3:hover {
  background-color: #c6a7ce;
  background-image: none;
}
#toLibrary1:hover > .explanation-ex {
  display: block;
}
#toLibrary2:hover > .explanation-ex {
  display: block;
  color: var(--white);
}
#toLibrary3:hover > .explanation-ex {
  display: block;
  color: var(--black);
}
#toLibrary2:hover > .explanation-ex {
  display: block;
  color: var(--black);
}

#toLibrary2:hover > div > h4 {
  display: block;
  color: var(--black);
}
#toLibrary3:hover > div > h4 {
  color: var(--black);
}
#toArticle:hover {
  background-color: var(--white);
  border: var(--black) 1.5px solid;
}
#toArticle:hover > svg > path {
  stroke: var(--black);
}
#toLibraryBotton:hover {
  background-color: var(--black);
}
#toLibraryBotton:hover > svg > path {
  stroke: var(--white);
}

#knows {
  .buttonСircle:hover {
    background-color: var(--black);
    border: var(--white) 1.5px solid;
  }
  .buttonСircle:hover > svg > .arrowHover {
    stroke: var(--white);
  }
}
#my-form-button:hover {
  background-color: var(--white);
  border: var(--black) 0.5px solid;
}
#my-form-button:hover > svg {
  stroke: var(--black);
}
#tgButton:hover {
  background-color: var(--black);
  background-image: url(../images/tg-white.svg);
  border: var(--white) 0.5px solid;
}
#vkButton:hover {
  background-color: var(--black);
  background-image: url(../images/vk-white.svg);
  border: var(--white) 0.5px solid;
}
#stButton:hover {
  background-color: var(--black);
  background-image: url(../images/st-white.svg);
  border: var(--white) 0.5px solid;
}
