.first-screen {
  display: flex;
  gap: 1.3vw;
  justify-content: space-between;
}
.first-screen {
  .strokeCont {
    stroke: var(--black);
  }
}
#toLibraryBotton {
  border: solid 1.5px var(--black);
}
#toLibraryBotton > svg > path {
  stroke: var(--black);
}
.first-screen {
  .strokeCont1 {
    stroke: var(--black);
    stroke-width: 1px;
  }
}
#bigLogo {
  background-image: url(../images/biglogo.svg);
  width: 7.5vw;
  height: 8.125vw;
  background-size: cover;
}

.first-screen > :nth-child(1) > :nth-child(1) {
  display: flex;
  padding: 5vw 0 0;
}
.first-screen > :nth-child(1) > :nth-child(2) > p {
  margin: 0 0px 6vw 30vw;
}
#toLibrary1 {
  margin: 0 0 0 8vw;
  display: flex;
  box-sizing: border-box;
  padding: 1vw;
  background-image: url(../images/book.webp);
  background-size: cover;
  transition: 0.3s;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
#toLibrary1 > :nth-child(2),
#toLibrary2 > :nth-child(2),
#toLibrary3 > :nth-child(2) {
  display: flex;
  justify-content: space-between;
}
#toLibrary1 > .explanation-ex,
#toLibrary2 > .explanation-ex,
#toLibrary3 > .explanation-ex {
  padding: 0 0vw 1vw 1vw;
  line-height: 1.1;
  display: none;
}
#toLibrary1 > .explanation-ex > .starMini,
#toLibrary2 > .explanation-ex > .starMini,
#toLibrary3 > .explanation-ex > .starMini {
  left: -0.3vw;
}
#toLibrary3 > div > h4 {
  color: var(--white);
}

#toLibrary2 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1vw;
  background-image: url(../images/articles.webp);
  background-size: cover;
  transition: 0.3s;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
#toLibrary2,
#toLibrary3 > h4 {
  color: var(--white);
}
#toLibraryBottonW {
  border: solid 1.5px var(--white);
}
#toLibrary3 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1vw;
  width: 100%;
  height: 100%;
  background-image: url(../images/test.webp);
  background-size: cover;
  border-radius: 32px;
  transition: 0.3s;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.first-screen > :nth-child(2) {
  gap: 3.3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.first-screen > :nth-child(2) > div {
  gap: 1.3vw;
  width: 23.2vw;
  height: 20.2vw;
  border: solid 1.5px var(--black);
  border-radius: 35px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}
.twoCards {
  display: flex;
  gap: 1.3vw;
}
.mediumCards {
  width: 31.528vw;
  height: 23.403vw;
  border: solid 1.5px var(--black);
  border-radius: 32px;
  box-sizing: border-box;
}
.box {
  display: flex;
  justify-content: space-between;
}
.box > p {
  padding: 0.7vw 2vw 0.6vw 2vw;
  color: var(--white);
  border-radius: 2.389vw;
}
.category-box > h2 {
  color: var(--white);
  padding-bottom: 3vw;
}
.category-box {
  background-color: var(--black);
}
.box > :nth-child(1) {
  border: 1.5px var(--green) solid;
}
.box > :nth-child(2) {
  border: 1.5px var(--blue) solid;
}
.box > :nth-child(3) {
  border: 1.5px var(--pink) solid;
}
.box > :nth-child(4) {
  border: 1.5px var(--red) solid;
}
.box > :nth-child(5) {
  border: 1.5px var(--purple) solid;
}
.box > :nth-child(6) {
  border: 1.5px var(--orange) solid;
}
.box > :nth-child(7) {
  border: 1.5px var(--cyan) solid;
}
.box > :nth-child(8) {
  border: 1.5px var(--yellow) solid;
}

/* второй экран */

.library-cards-box > header > :nth-child(1) {
  padding-left: 10.2rem;
}
.library-cards-box > header > :nth-child(2) {
  padding-left: 4.8rem;
  padding-bottom: 40px;
}

.library-cards-box {
  position: relative;
  background-color: var(--black);
  color: var(--white);
}

#smallCardBox {
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
}
#bigCardBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1.3vw;
}
.card {
  display: flex;
  gap: 1.3vw;
}
.card > div {
  width: 23.2vw;
  height: 20.2vw;
  border: solid 1.5px var(--white);
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1vw;
}

.library-cards {
  display: flex;
  gap: 1.3vw;
}
#bigCard {
  border: solid 1.5px var(--purple);
  background-image: url(../images/nike.webp);
  background-color: var(--purple);
}
#bigCardBox > :nth-child(1) {
  padding: 0.694vw;
  border: solid 1.5px var(--white);
  border-radius: 2.389vw;
}
#paper {
  border: none;
}
#paper > svg {
  width: 23.2vw;
  height: 20.2vw;
  stroke-width: 1.5px;
  position: absolute;
  left: 0;
  top: 0;
}
#none {
  border: none;
}

#paper {
  position: relative;
  padding: 0.5rem;
  box-sizing: border-box;

  .buttonСircle {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--white) 1.5px solid;
    transition: 0.3s;
    cursor: pointer;
  }
}
#face {
  border: solid 1.5px var(--blue);
  background-image: url(../images/face2.webp);
  background-size: contain;
  transition: 0.3s;
}

#toxic {
  border: solid 1.5px var(--red);
  background-image: url(../images/toxic.webp);
  background-size: contain;
  transition: 0.3s;
}
#smallPaper {
  display: none;
}
#nkei {
  border: solid 1.5px var(--cyan);
  background-image: url(../images/deinkei.webp);
  background-size: contain;
  transition: 0.3s;
}
#bigCard > h4 {
  color: var(--black);
  padding-top: 15vw;
}
.tag {
  border: 1.5px solid var(--black);
  border-radius: 20px;
}

.menuCard {
  display: flex;
}
.tag > p {
  color: var(--black);
  font-size: 13px;
  padding: 7px 15px;
}

.smallText {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 6vw;
  position: relative;
}

.popupFace {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(19px); /* Размытие фона */
  opacity: 0; /* Невидимый */
  transform: scale(0.9); /* Слегка уменьшен */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация */
  animation: 0.5s ease-in-out 0s 1 alternate op;
}
.popupFace.active {
  display: flex; /* Делаем элемент видимым */
  opacity: 1; /* Полностью видимый */
  transform: scale(1); /* Масштаб 100% */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация */
  animation: 0.3s ease-in-out 0s 1 alternate op;
}
.popupNkei {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(19px); /* Размытие фона */
  opacity: 0; /* Невидимый */
  transform: scale(0.9); /* Слегка уменьшен */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация */
  animation: 0.5s ease-in-out 0s 1 alternate op;
}
.popupNkei > div {
  background-color: var(--cyan);
}
.popupNkei.active {
  display: flex; /* Делаем элемент видимым */
  opacity: 1; /* Полностью видимый */
  transform: scale(1); /* Масштаб 100% */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация */
  animation: 0.3s ease-in-out 0s 1 alternate op;
}
.popupNkei > #bigCard {
  border: solid 1.5px var(--cyan);
  background-color: var(--cyan);
  background-image: url(../images/nkei.webp);
}
.popupFace > #bigCard {
  border: solid 1.5px var(--blue);
  background-color: var(--blue);
  background-image: url(../images/bigface.webp);
}
.popupToxic {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(19px); /* Размытие фона */
  opacity: 0; /* Невидимый */
  transform: scale(0.9); /* Слегка уменьшен */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация */
  animation: 0.5s ease-in-out 0s 1 alternate op;
}
.popupToxic > div {
  background-color: var(--cyan);
}
.popupToxic.active {
  display: flex; /* Делаем элемент видимым */
  opacity: 1; /* Полностью видимый */
  transform: scale(1); /* Масштаб 100% */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация */
  animation: 0.3s ease-in-out 0s 1 alternate op;
}
.popupToxic > #bigCard {
  border: solid 1.5px var(--red);
  background-color: var(--red);
  background-image: url(../images/bigtoxic.webp);
}
.starMini {
  background-image: url(../images/starminilogo.svg);
  width: 1.1vw;
  height: 1.1vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0vw;
  left: -1.5vw;
}
#toLibrary > svg {
  width: 2vw;
  height: 2vw;
}
.articlesBox {
  background: var(--black);
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
}
.bigBanner {
  width: 100%;
  height: 44.583vw;
  border-radius: 20px;
  padding: 2vw;
}
.articlesBox > :nth-child(2) {
  background-color: var(--white);
  background-image: url(../images/bigartic.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.articlesBox > h2 {
  color: var(--white);
  padding-bottom: 3vw;
}
#toArticle {
  display: flex;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: var(--black) 1.5px solid;
  cursor: pointer;
}
#toArticle > svg > path {
  stroke: var(--white);
}
.bigBanner > div > p {
  padding: 4vw 0 0 24vw;
}
.articlesBox > :nth-child(3) {
  display: flex;
  gap: 1.3vw;
}
.smallBanner {
  width: 100%;
  height: 22vw;
  background-color: var(--white);
  border-radius: 20px;
  padding: 2vw;
  box-sizing: border-box;
}
.smallBanner > header {
  display: flex;
  justify-content: space-between;
}
.smallBanner > header > p {
  padding: 0.7vw 2vw 0.6vw 2vw;
  border: 1.5px var(--black) solid;
  border-radius: 2.389vw;
}
.smallBanner > h5 {
  padding: 2vw 0;
}
.smallBanner > p {
  padding-left: 23.1vw;
}
.bigBanner > h6 {
  display: none;
}
.bigBanner > div > h5 {
  display: none;
}
.testsBox {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
}

#bigTest {
  box-sizing: border-box;
  border: 1.5px var(--orange) solid;
  background-image: url(../images/bearbig.webp);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testsBox > h2 {
  color: var(--white);
  padding-bottom: 3vw;
}
.bigBanner > p {
  padding: 0.7vw 2vw 0.6vw 2vw;
  border: 1.5px var(--orange) solid;
  border-radius: 2.389vw;
  color: var(--white);
  width: 14vw;
}
.bigBanner > h5 {
  display: none;
  color: var(--white);
}
.bigBanner > h3 {
  color: var(--white);
  padding-left: 23vw;
}
.testsBox {
  #paper {
    width: 23.2vw;
    height: 20.2vw;
    display: flex;
    align-items: flex-end;
  }
  .bigBanner > div > p {
    padding: 0;
    color: var(--white);
  }
}
#knows {
  padding-left: 45vw;
  position: relative;
  .buttonСircle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vw;
    transition: 0.3s;
    border: var(--white) 1.5px solid;
  }
}
.fourSmallCard {
  display: flex;
  gap: 1.3vw;
  box-sizing: border-box;
}
.allCardTest {
  height: 28vw;
  width: 23.2vw;
  border-radius: 20px;
  display: flex;
  padding: 1vw;
  position: relative;
  box-sizing: border-box;
}

.allCardTest > p {
  position: absolute;
  color: var(--white);
  padding: 0.7vw 2vw 0.6vw 2vw;
  border: 1.5px var(--white) solid;
  border-radius: 2.389vw;
  right: 1vw;
  top: 1vw;
}
#cardTest1 {
  background-image: url(../images/giga.webp);
  background-size: cover;
  border: 1.5px var(--orange) solid;
}
#cardTest2 {
  background-image: url(../images/grandcard.webp);
  background-size: cover;
}
#cardTest3 {
  border: 1.5px var(--green) solid;
  background-image: url(../images/byscarry.webp);
  background-size: cover;
}
#cardTest4 {
  border: 1.5px var(--orange) solid;
  background-image: url(../images/ough.webp);
  background-size: cover;
}
#cardTest1 > h5 {
  color: var(--white);
  margin-top: 5vw;
}
#cardTest2 {
  align-items: flex-end;
}
#cardTest2 > h5 {
  color: var(--white);
}
#cardTest3 > h5 {
  color: var(--white);
  margin-top: 5vw;
}
#cardTest4 > h5 {
  color: var(--white);
  margin-top: 5vw;
}
#toLibrary2,
#toLibrary3 {
  border: none;
}
.form > :nth-child(3) {
  padding: 3vw 0 3vw 4.8rem;
}
// форма

.styled-form {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 400px;
}

.styled-form input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 60px;
  outline: none;
  font-size: 16px;
  font-family: 'PPNeueMontreal', sans-serif;
  font-weight: 500; /* Medium вес */
  font-size: calc(0.1rem + 1.5vw);
  margin-right: 1vw;

  box-sizing: border-box;
}

.styled-form input::placeholder {
  color: #aaa;
}

.styled-form button {
  background-color: #000;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: calc(0.1rem + 1.5vw);
  width: 4.875vw;
  height: 4.875vw;
}

.styled-form button:hover {
  background-color: #333;
}

.styled-form button svg {
  stroke: white;
  width: 3.875vw;
  height: 3.875vw;
  stroke-width: 1px;
}
#my-form {
  display: flex;
  width: 55.764vw;
  height: 4.875vw;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
.forFlex {
  display: flex;
  flex-direction: column;
  margin-bottom: 18vw;
  justify-content: center;
  align-items: center;
}
.forFlex-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form {
  padding-top: 9vw;
  position: relative;
}
.bigLogo2 {
  background-image: url(../images/biglogo.svg);
  width: 13.5vw;
  height: 14.125vw;
  background-size: cover;
  position: absolute;
  top: 27vw;
  right: 6vw;
}

.form > :nth-child(1) {
  position: relative;
}
#my-form-status {
  font-family: 'PPNeueMontreal', sans-serif;
  font-weight: 500; /* Medium вес */
  font-size: calc(0.1rem + 1.5vw);
}

/* футер */
footer {
  background-color: var(--black);
  color: var(--black);
  stroke: var(--black);
}

/*
background-color: var(--white);
color: var(--white);
stroke: var(--white);
}
*/

footer {
  width: 100%;
  height: 14.653vw;
  box-sizing: border-box;
  display: flex;
  padding: 40px 20px;
  justify-content: space-between;
  align-items: flex-end;
}
.logoFot {
  background-image: url(../images/logovector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 14.167vw;
  height: 4vw;
}
.tg,
.vk,
.st {
  border-radius: 100vw;
  background-color: white;
  width: 4.861vw;
  height: 4.861vw;
}
.netwFot {
  display: flex;
}
.vk {
  background-image: url(../images/vk-black.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  border: var(--white) 0.5px solid;
}
.tg {
  background-image: url(../images/tg-black.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  border: var(--white) 0.5px solid;
}
.st {
  background-image: url(../images/st-black.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  border: var(--white) 0.5px solid;
}

#toStyle {
  color: var(--white);
}
.nameFot {
  color: var(--white);
}
.nameFot > p {
  padding: 0.5vw;
}

.netwFot > div {
  margin: 1vw;
}
.logoFot {
  margin: 1vw;
  box-sizing: border-box;
}
.forFlex-2 {
  display: flex;
  align-items: flex-end;
}
