:root {
  --white: #fefefe;
  --black: #151515;
  --purple: #c6a7ce;
  --pink: #de8eb2;
  --red: #e46363;
  --orange: #e8874a;
  --yellow: #e4e380;
  --green: #a9d486;
  --cyan: #aadedc;
  --blue: #81b4db;
}
