@media (min-width: 0px) and (max-width: 600px) {
  * {
    border-width: 1.5px !important;
  }
}
.no-pointer {
  &:hover {
    transform: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* если темный фон и белый объект */
.BlackBack {
  background-color: var(--black);

  /* чтобы пропадали черные объекты предназначенные для белого фона */
  .black {
    display: none;
  }

  /* поменять цвет текста на белый */
  .M_NavDesktop a,
  .M_NavMobile a {
    color: var(--white);
  }

  /* + черный фон + белый бордер */
  .M_NavMobile {
    background-color: var(--black);
    border-left: 2px solid var(--white);
  }

  /* + белый фон */
  .A_BurgerButton span {
    background-color: var(--white);
  }

  /* + белый бордер */
  .A_BurgerButton {
    border: 2px solid var(--white);
  }
}

/* если белый фон и черный объект */
.WhiteBack {
  background-color: var(--white);

  /* чтобы пропадали черные объекты предназначенные для белого фона */
  .white {
    display: none;
  }

  /* поменять цвет текста на белый */
  .M_NavDesktop a,
  .M_NavMobile a {
    color: var(--black);
  }

  /* + черный фон + белый бордер */
  .M_NavMobile {
    background-color: var(--white);
    border-left: 2px solid var(--black);
  }

  /* + черный бордер */
  .A_BurgerButton {
    border: 2px solid var(--black);
  }

  /* + черный фон */
  .A_BurgerButton span {
    background-color: var(--black);
  }
}

/* кнопки*/
.M_ButtonWithText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.A_RedButton {
  background-color: var(--red);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease;
  svg {
    transition: stroke 0.3s ease;
  }
  &:hover {
    background-color: var(--white);
    .arrow-icon {
      stroke: var(--black);
    }
  }
  .arrow-icon {
    stroke: var(--white);
    transition: stroke 0.3s ease;
  }

  &:hover {
    transform: scale(1.04);
  }
}
.S_LibraryWordScreen {
  padding: 80px;

  height: auto;
  width: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 901px) {
  .S_LibraryWordScreen {
    padding: 80px 20px;
    padding-top: 0;
  }
}

.M_ScreenHeader {
  padding-bottom: 6vw;
  width: 100%;
  @media (max-width: 900px) {
    padding-top: 12vw;
  }
}
.S_NetworksBox {
  .M_ScreenHeader {
    @media (max-width: 900px) {
      padding-top: 0;
    }
  }
}
