:root {
  --white: #fefefe; /* бело-серый */
  --black: #151515; /* черно-серый */
  --grey: #a1a1a1; /* серый */
  --red: #964445; /* фирменный цвет */
  --coral: #e46363; /* кто-кто? */
  --pink: #ef83b4; /* нежности */
  --violet: #c6a7ce; /* вещицы / об истории вещей */
  --blue: #81b4db; /* что делати? / об истории слов */
  --green: #a9d486; /* как-как? */
  --yellow: #bdc442; /* фразеологизмы */
  --mint: #9dcac9; /* пословицы */
  --orange: #e8874a; /* пословицы / об истории быта */
}
