/* маркарян */
.img5 {
  background-image: url('/src/images/img5.webp');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
/* лыка не вяжет */
.img6 {
  background-image: url('/src/images/img6.webp');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
