.img5 {
  background-image: url('/src/images/img5.webp');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
.img6 {
  background-image: url('/src/images/img6.webp');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
.img7 {
  background-image: url('/src/images/img7.webp');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
.img8 {
  background-image: url('/src/images/img8.webp');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
.img9 {
  background-image: url('/src/images/img9.webp');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.img10 {
  background-image: url('/src/images/img10.webp');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
