.O_Filters {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 0 0 40px 0;
}
.O_Card {
  border: 2px solid wheat;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.O_Card {
  img {
    width: 100%;
  }
}
.O_Card {
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.01);
  }
}
