.how-how {
  border: 2px solid var(--green);
}
.who-who {
  border: 2px solid var(--coral);
}
.things {
  border: 2px solid var(--violet);
}
.tenderness {
  border: 2px solid var(--pink);
}
.whatdoing {
  border: 2px solid var(--blue);
}
.idioms {
  border: 2px solid var(--mint);
}
.sayings {
  border: 2px solid var(--orange);
}
.proverbs {
  border: 2px solid var(--yellow);
}

.how-how {
  .A_TagsWord {
    border: 2px solid var(--green);
  }
}
.who-who {
  .A_TagsWord {
    border: 2px solid var(--coral);
  }
}
.things {
  .A_TagsWord {
    border: 2px solid var(--violet);
  }
}
.tenderness {
  .A_TagsWord {
    border: 2px solid var(--pink);
  }
}
.whatdoing {
  .A_TagsWord {
    border: 2px solid var(--blue);
  }
}
.idioms {
  .A_TagsWord {
    border: 2px solid var(--mint);
  }
}
.sayings {
  .A_TagsWord {
    border: 2px solid var(--orange);
  }
}
.proverbs {
  .A_TagsWord {
    border: 2px solid var(--yellow);
  }
}

.how-how {
  .A_TagsWord {
    background-color: var(--green);
  }
}
.who-who {
  .A_TagsWord {
    background-color: var(--coral);
  }
}
.things {
  .A_TagsWord {
    background-color: var(--violet);
  }
}
.tenderness {
  .A_TagsWord {
    background-color: var(--pink);
  }
}
.whatdoing {
  .A_TagsWord {
    background-color: var(--blue);
  }
}
.idioms {
  .A_TagsWord {
    background-color: var(--mint);
  }
}
.sayings {
  .A_TagsWord {
    background-color: var(--orange);
  }
}
.proverbs {
  .A_TagsWord {
    background-color: var(--yellow);
  }
}
