.W_TagsBox {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 9px;
  left: 9px;
  @media (max-width: 359px) {
    gap: 5px;
  }
  @media (max-width: 500px) {
    gap: 6px;
  }
}
.W_TextWordBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h2 {
    font-family: 'TD Rukopis';
    color: var(--white);
    font-size: clamp(36px, 3.611vw, 52px);
    text-transform: uppercase;
    text-align: end;
    padding-bottom: 7px;
    @media (max-width: 900px) {
      font-size: clamp(48px, 7.56vw, 68px);
    }
    @media (max-width: 500px) {
      font-size: clamp(24px, 8.22vw, 37px);
      padding-bottom: 6px;
    }
  }
  div {
    font-family: 'PP Neue Montreal', sans-serif;
    color: var(--white);
    font-size: 12px;
    text-transform: uppercase;
    text-align: end;
  }
}
.W_OtherHeader {
  .M_ScreenHeader {
    padding: 160px 80px 47px 80px;
    display: flex;
    justify-content: center;
  }
}
.A_FilterBtn {
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: clamp(18px, 4.36vw, 31px);
}
