/* заглушка */
@import 'stylesheets/reset.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/main.scss';


body {
    background-color: aqua;
}
p {
    font-family: 'TD Rukopis';
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Graphik LCG';
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'Graphik LCG';
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-style: normal;
}

h4 {
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: normal;
}